<section class="section section-products wow animate__fadeInLeftBig" id="ourprod">
  <div class="container">
    <p class="pretitle-products__text title">100% natural</p>
    <h2 class="title section-products__title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item item">
        <div class="products-container">
          <h3 class="products-title title">ice cream</h3>
          <span class="products-icon"></span>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <input type="checkbox" id="contacts-input-text" hidden class="contacts-input" />
          <p class="products-hidden-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <label for="contacts-input-text" class="products-label"> </label>
        </div>
      </li>
      <li class="products-list__item item">
        <div class="products-container products-container-brown">
          <h3 class="products-title title">ice cream</h3>
          <span class="products-icon"></span>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <input type="checkbox" id="contacts-input-text-first" hidden class="contacts-input" />
          <p class="products-hidden-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <label for="contacts-input-text-first" class="products-label"> </label>
        </div>
      </li>
      <li class="products-list__item item">
        <div class="products-container products-container-green">
          <h3 class="products-title title">ice cream</h3>
          <span class="products-icon"></span>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <input type="checkbox" id="contacts-input-text-second" hidden class="contacts-input" />
          <p class="products-hidden-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <label for="contacts-input-text-second" class="products-label"> </label>
        </div>
      </li>
    </ul>
  </div>
</section>
